<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Some Website</title>

</head>

<body>
	{{> header}}
	<p>Some Text Here</p>
	{{> footer}}
  <script src="js/scripts.js"></script>
</body>
</html>